#category-title {
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Orbitron', 'Exo 2', 'Lexend';
}

.category-name:hover {
    text-decoration: underline;
}

.category-name.dark-mode:hover {
    color: #22d3ee;
}

.category-name.light-mode:hover {
    color: #DC143C;
}

.habit-description:hover {
    text-decoration: underline;  
}
  
.habit-description.dark-mode:hover {  
    color: #22d3ee;  
}

.habit-description.light-mode:hover {
    color: #DC143C;
}

button.dark-mode:hover {
    border-color: #22d3ee;
}
  
button.light-mode:hover {
    border-color: #DC143C;
}

#category-accordion {
    margin-bottom: 40px;
}

#list-select{
    text-align: center;
    margin-top: 25px;
}
